<table id="song_search">
	<% @song.each do |s| %>
	<th> ID </th>
	<th> Name </th>
	<th> Artist </th>
	<th> Duration </th>
	<tr>
		<td class="id"><%= s.id %><br></td>
		<td class="name"><%= s.name %><br></td>
		<td class="artist"><%= s.artist %><br></td>
		<td class="duration"><%= s.duration %><br></td>
	</tr>
	<%#= @url %>
	<% end %>
</table>